.container {
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
}

.backgroundGlow {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(120, 180, 255, 0.25),
      transparent 70%
    ),
    #000000;
}
.parent {
  position: relative;
  z-index: 1;
  display: grid;
   grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto 1fr auto;
  gap: 8px 8px;
  grid-template-areas:
    "Navbar  Navbar"
    "Grafic  data"
    "footer  footer";
  color: #ffffff;
  height: 100vh;
}
.nav {
  grid-area: Navbar;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
.content {
  grid-area: Grafic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-right: 1px solid #ccc;
  overflow: hidden;
}
.sideright {
  grid-area: data;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-left: 1px solid #ccc;
  overflow: hidden;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-top: 1px solid #ccc;
  overflow:auto
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Navbar"
      "Grafic"
      "data"
      "footer";
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .parent {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "Navbar Navbar"
      "Grafic data"
      "footer footer";
    height: auto;
  }
}